Flask==3.0.3
pandas==2.2.2
numpy==1.26.4
requests==2.32.3
scikit-learn==1.5.1
catboost==1.2.5
joblib==1.4.2
nfl-data-py==0.3.3
beautifulsoup4==4.12.3
lxml==5.2.2
matplotlib==3.9.1
plotly==5.22.0
gunicorn==22.0.0  // For production WSGI server 